/class_project
/create_variables_coaster
/fixCodeHelloWorld
/greetings
/JSPredict
/JS_code
/lecture1
/leftover_cake
/LoopDLoop
/Loops_3_assignment
/rainbow
/reflect_on_basics
/return_code_challenge
/vs_assignment